* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

/* Nav */

nav {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #040B25;
    color: #F5F5F5;
    height: 80px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #FF8000;
}

.logo {
    font-size: 1.25rem;
    margin-left: 30px;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #fbfcfd;
}

.links {
    display: flex;
}

.links li {
    display: inline-block;
    margin-right: 30px;
    font-size: 1.125rem;
    cursor: pointer;
}

.links li a {
    color: #fbfcfd;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.links li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF8000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active {
    color: #FF8000;
}

.menu div {
    display: none;
    width: 35px;
    height: 5px;
    background-color: #FF8000;
    margin: 6px 0;
}

@media screen and (max-width: 480px) {
    .menu div {
        display: block;
        margin-right: 20px;
    }
    .links ul {
        display: none;
    }
}

/* Header */

header {
    background-image: url("./images/geometricbg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: whitesmoke;
}

.overlay {
    margin: 0 50px;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.overlay::before {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;   
    height: 80vh;
    top: 80px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.overlay * {
    position: relative; /* Makes elements display above overlay. */
}

.intro {
    padding: 10px;
    line-height: 1.2;
    z-index: 1;
    text-align: left;
}

.intro span {
    font-size: 1.5rem;
}

span h1 {
    color: #FF8000;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.social-icons li {
    list-style: none;
    font-size: 2.5rem;
}

.social-icons li:nth-child(1), .social-icons li:nth-child(2) {
    margin-right: 30px;
}

.social-icons a {
    color: whitesmoke;
}

.profile-1 {
    display: none;
    z-index: 1;
}

.profile-2 {
    z-index: 1;
}

.p-container img {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

@media screen and (max-width: 480px) {

    .p-container img {
        width: 200px;
        margin-bottom: -50px;
    }
    .intr {
        padding: 0;
    }
    .intro span {
        font-size: 1.25rem;
    }
}

/* Main */

.container {
    max-width: 1200px;
    margin: 90px auto;
    padding: 0 20px;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 30px;
}

/* About Me */

#about-me p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
}

.skills {
    margin-top: 30px;
}

.skill-heading {
    text-align: left;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.icons li {
    font-size: 1.25rem;
    font-weight: 500;
    list-style: none;
    margin-right: 20px;
}


/* Projects */

/* Web Dev */

h3 {
    font-size: 1.4rem;
    margin: 10px 0;
    text-align: center;
}

.github, .behance {
    color: #FF8000;
}

.github:after, .behance:after {
    color: #FF8000;
}

#works p {
    font-size: 1.25rem;
}

.web-dev {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    display: inline-block;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin: 20px 5px;
    border-radius: 5px;
    box-shadow: 0 0 15px grey;
    flex-wrap: wrap;
    overflow: hidden;
}

.img-container {
    max-width: 380px;
    min-height: 250px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 200px;
    /* border-radius: 5px; */
}

#project-1 {
    background-image: url("./images/thegamersclub.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#project-2 {
    background-image: url("./images/digitalconsultancy.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#project-3 {
    background-image: url("./images/teacozy.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#project-4 {
    background-image: url("./images/htmlcheatsheet.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#project-5 {
    background-image: url("./images/quotes.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#project-6 {
    background-image: url("./images/webdesignsystem.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.description {
    width: 100%;
    text-align: center;
    position: relative;
    top: 160px;
    font-size: 1.125rem;
}

.description p {
    margin: 10px 0 5px 0;
    padding: 20px 10px;
    border-bottom: 1px solid #c96400;
    font-size: 1.125rem;
    font-weight: 500;
}

.description a {
    display: inline-block;
    padding: 20px 30px;
    color: #FF8000;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
}

.description a:hover {
    color: #c96400;
    text-decoration: underline;
}

@media only screen and (max-width: 380px) {
    .description {
        top: 190px;
    }
}

@media only screen and (max-width: 480px) {
    .description a {
        padding: 10px 20px;
    }
}

/* Graphic Design */

.graphic-design {
    margin: 10px 10px;
}

.graphic-design p {
    width: 90%;
    margin: 15px auto;
    font-size: 1.25rem;
    font-weight: 500;
}

.design {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.design-container {
    width: 350px;
    min-height: 300px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: whitesmoke;
    cursor: pointer;
}

.caption {
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
}

#mobileLegends {
    background-image: url("./images/mobileLegendsWallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

#callOfDuty {
    background-image: url("./images/codbanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

#janeDeleon {
    background-image: url("./images/janeDeleonVexel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

#productDesign-1 {
    background-image: url("./images/camoteChips.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

#productDesign-2 {
    background-image: url("./images/bananaChips.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

#productDesign-3 {
    background-image: url("./images/taroChips.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

#spiderMan {
    background-image: url("./images/SpiderManInv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

#ironMan {
    background-image: url("./images/ironmanshirt.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

#kobe {
    background-image: url("./images/kobeshirt.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

/* Contacts */

.contacts {
    background-color: #040B25;
    color: whitesmoke;
    text-align: center;
    padding: 30px;

}

h4 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.socials {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    cursor: pointer;
    text-align: center;
}

.socials ul li {
    display: inline-block;
    list-style: none;
}

.socials span {
    font-size: 1.25rem;
    padding: 10px 0;
    margin: 20px 0;
}

.socials a {
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: #FF8000;
}

@media screen and (max-width: 480px) {
    .socials a {
        display: block;
    }
    .socials span {
        font-size: 1.125rem;
    }
}

footer {
    background-color: #040B25;
    color: whitesmoke;
    border-top: 1px solid #FF8000;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1rem;
}

footer a {
    color: #FF8000;
}
