:root {
    --bg-gradient-onyx: linear-gradient( to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97% );
    --bg-gradient-jet: linear-gradient( to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100% ), hsl(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient( to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50% );
    --bg-gradient-yellow-2: linear-gradient( 135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86% ), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient( to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50% );
    --text-gradient-yellow: #7FFFD4;
    --neon-green: #7fffd4;
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: #7FFFD4;
    --vegas-gold: #7FFFD4;
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
    --ff-poppins: 'Poppins', sans-serif;
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
}


.timeline {
    margin-bottom: 30px;
}

.timeline .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.timeline .title-wrapper h3 {
    font-size: 24px !important;
    font-weight: 800;
    margin-bottom: 0;
}


.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
}

.icon-box ion-icon {
    --ionicon-stroke-width: 35px;
}

.timeline-list {
    font-size: var(--fs-6);
    margin-left: 45px;
}

.timeline-item:not(:last-child) {
    margin-bottom: 20px;
}

.timeline-item {
    position: relative;
    list-style-type: none;
}

.timeline-item h4 {
    font-size: 18px !important;
    line-height: 1.3;
}

.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background: var(--jet);
}

.timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 7px;
}

.timeline-list span {
    color: var(--vegas-gold);
    font-weight: var(--fw-400);
    line-height: 1.6;
}

.timeline-tasks .tasks {
    padding-left: 15px !important;
}

.timeline-tasks .tasks li {
    color: var(--light-gray);
    font-size: var(--fs-4) !important;
    font-weight: var(--fw-300);
    margin: 8px 0;
    line-height: 1.4;
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -42px !important;
    height: 6px;
    width: 6px;
    background: var(--text-gradient-yellow);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
}

.timeline .icon-box ion-icon[name="book-outline"] {
    color: #7FFFD4;
}

ol {
    padding: 0 !important;
}

.download-resume a {
    position: relative;
    width: max-content;
    background: var(--border-gradient-onyx);
    color: var(--neon-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 10px 0;
    gap: 5px;
    padding: 15px 20px;
    border-radius: 14px;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    box-shadow: var(--shadow-3);
    z-index: 1;
}

.download-resume a::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
    transition: var(--transition-1);
}

.download-resume a ion-icon {
    font-size: 20px;
}

@media (min-width: 768px) {
    .icon-box {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        font-size: 18px;
    }

    .timeline-list {
        margin-left: 65px;
    }

    .timeline-item:not(:last-child)::before {
        left: -40px;
    }

}

@media only screen and (max-width: 768px) {
    .timeline-item::after {
        left: -33px !important;
    }
    .download-resume a {
        margin: 40px auto 15px;
    }
}